
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>خشکشویی آنلاین هلکو</title>
</head>
<style>
    body {
        background-color: ghostwhite;
    }
</style>
<body style="margin-left:50%;margin-right:50%;" class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-primary" role="alert">
        <p style="font-family:B Yekan;margin-left:-7%;margin-right:-7%;height:50px;text-align:center;margin-bottom:-10%;font-size:xx-large;">
            <font color="#889f41">
                 خشکشویی آنلاین هلکو
            </font>
        </p>
    </div>
    <br />
    <div class="jumbotron" style="background-color:#008A8F;">
        <h1 style="text-align:center;"><font color="white"><p style="font-family:B Yekan;font-size:xx-large;"> وضعیت پراخت </font></h1>
        <p class="lead" style="text-align:center; font-family:B Yekan">
            <font color="white">
                @ViewBag.Titr
                <br />
                @ViewBag.Success
                @ViewBag.Status
                @ViewBag.Authority
                <br />
                @ViewBag.ok
                @ViewBag.Invalid
            </font>
        </p>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded"><p style="font-family:B Yekan"> جهت اطمینان از وضعیت پرداخت ،از منوی اپلیکیشن به پرداختی های من مراجعه نمایید<br /><br /> پشتیبانی:09190608912</p></div>
</body>
</html>
